# Python
__pycache__/
*.pyc

# Virtual Environments
Python_Hand_Tracker/venv_training/
Python_Hand_Tracker/venv_tracker/

# Compiled C files
*.o
*.out
RA8D1_Simulation/ra8d1_sim

# Generated Models (but not the data)
models/model.onnx
models/saved_model/

# OS-specific
.DS_Store
